/*PAGE====================*/
.sc.page {
  padding-top: calc(var(--header-height) + var(--spacing-xl));
  padding-bottom: var(--spacing-3xl);
}

.page .page-content {
  display: flex;
  grid-gap: 9.2361111111vw;
}

.page-content .sidebar {
  width: 31.04166666667vw;
  position: relative;
}

.page-content .sidebar .sc-header {
  position: sticky;
  top: calc(var(--header-height) + var(--spacing-xl));
}

.page-content .content {
  width: 46.6666666667vw;
}

@media (max-width: 991px) {
  .page .page-content {
    flex-direction: column;
    grid-gap: 0;
  }

  .page-content .sidebar {
    width: 100%;
  }

  .page-content .content {
    width: 100%;
  }
}
