/*PAPERS====================*/

/*TWO-SIDES====================*/
.papers-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-sm);
}

@media (max-width: 991px) {
  .papers-button {
    margin-top: var(--spacing-md);
    justify-content: start;
  }
}
