/*MEDIA QUERIES:MIN====================*/
@media (min-width: 391px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .hidden-device-md {
    display: none !important;
  }

  /*GENERAL*/
  .container.xl {
    max-width: calc(var(--container-xl) + var(--spacing-container) * 2);
  }
  .container.lg {
    max-width: calc(var(--container-lg) + var(--spacing-container) * 2);
  }
  .container.md {
    max-width: calc(var(--container-md) + var(--spacing-container) * 2);
  }
  .container.sm {
    max-width: calc(var(--container-sm) + var(--spacing-container) * 2);
  }
  .container.half {
    max-width: 50vw;
  }

  *[block-width] {
    margin-left: auto;
    margin-right: auto;
  }
  *[block-width="xl"] {
    max-width: var(--container-xl);
  }
  *[block-width="lg"] {
    max-width: var(--container-lg);
  }
  *[block-width="md"] {
    max-width: var(--container-md);
  }
  *[block-width="sm"] {
    max-width: var(--container-sm);
  }
  *[block-width="half"] {
    max-width: 50%;
  }

  .f-left {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  .f-right {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  /* FORM */
  .field.half {
    width: calc(50% - var(--spacing-sm) / 2);
  }
}

@media (min-width: 992px) and (max-width: 1600px) {
  :root {
    --font-size-overline: 0.875vw;
    --font-size-button: 0.875vw;
    --font-size-body: 1vw;
    --font-size-subtitle2: 0.8125vw;
    --font-size-subtitle1: 0.875vw;
    --font-size-h3: 1vw;
    --font-size-h2: 1.25vw;
    --font-size-h1: 3vw;

    --line-height-overline: 1.125vw;
    --line-height-button: 1.125vw;
    --line-height-body: 1.375vw;
    --line-height-subtitle2: 1vw;
    --line-height-subtitle1: 1.125vw;
    --line-height-h3: 1.25vw;
    --line-height-h2: 1.5625vw;
    --line-height-h1: 3.375vw;

    --icon-size-xs: 0.5vw;
    --icon-size: 1.25vw;
    --icon-size-lg: 1.5vw;
    --icon-size-xl: 2vw;
  }
}

/*MEDIA QUERIES:MAX====================*/
@media (max-width: 1279px) {
}

@media (max-width: 991px) {
  :root {
    --font-size-overline: 14px;
    --font-size-button: 14px;
    --font-size-body: 16px;
    --font-size-subtitle2: 13px;
    --font-size-subtitle1: 14px;
    --font-size-h3: 16px;
    --font-size-h2: 20px;
    --font-size-h1: 48px;

    --line-height-overline: 18px;
    --line-height-button: 18px;
    --line-height-body: 22px;
    --line-height-subtitle2: 16px;
    --line-height-subtitle1: 18px;
    --line-height-h3: 20px;
    --line-height-h2: 25px;
    --line-height-h1: 54px;
  }

  .hidden-device-sm {
    display: none !important;
  }
  .hidden-device-sm:first-child + *:not(:first-child) {
    margin-top: 0 !important;
  }
  .overflow-hidden-device-sm {
    overflow: hidden !important;
  }
  .a-left-device-sm {
    text-align: left !important;
  }
  .a-right-device-sm {
    text-align: right !important;
  }
  .a-center-device-sm {
    text-align: center !important;
  }
  .alignwide-device-sm {
    width: 100% !important;
  }
  .alignfull-device-sm {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
  }

  /* FOOTER */

  /* MAIN */

  /* MODULES */
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }

  .a-left-mobile {
    text-align: left !important;
  }
  .a-right-mobile {
    text-align: right !important;
  }
  .a-center-mobile {
    text-align: center !important;
  }
  .alignwide-mobile {
    width: 100% !important;
  }
  .alignfull-mobile {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
  }
}

@media (max-width: 575px) {
  .hidden-mobile-sm {
    display: none !important;
  }
}

@media (max-width: 390px) {
}
